img {
  max-width: 100%;
}
header {
  background-color: rgb(25, 25, 63);
}
/* CONTAINER */
.container-fluid {
  width: 100%;
  /* display: flex; */
  /* margin: 0 auto; */
}
/* NAVBAR */
.nav {
  justify-content: space-between;
  height: 100px;
  color: white;
  width: 100%;
  align-items: center;
}
.fa-bars {
  font-size: 30px;
  color: gray;
  border: 2px solid gainsboro;
  border-radius: 4px;
  padding: 4px;
}
/* /NAVBAR */
/* FIRST-SECTION */
.first-section {
  background-color: rgb(0, 255, 174);
  color: white;
  text-align: center;
  height: 500px;
}
.job {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.image-width {
  width: 300px;
}
/* /FIRST-SECTION */
.container {
}
/* .img-section {
  display: block;
  margin-bottom: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
} */
.cards {
  border-radius: 10px;
}
.about {
  align-content: center;
  text-align: center;
  background-color: darkcyan;
  height: 400px;
}
.ms_section {
  padding: 1.5rem 0;
}
.ms_small-container {
  width: 80%;
  /* background-color: rgba(2, 133, 90, 0.933); */
  margin: 0 auto;
  /* color: white; */
}
.btn {
  border: 1px solid white;
  border-radius: 2px;
  color: white;
}
/* hr {
  width: 50px;
} */
